integrations/n8n/whatsapp-update.json
{
  "name": "Feasly — Stakeholder update to WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "triggerAtDay": [5], "triggerAtHour": 16 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "name": "Every Friday 4pm"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://zenith-health-demo.vercel.app/api/ai/playbooks/stakeholder-update?project=first",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_FEASLY_INTEGRATION_TOKEN" }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [240, 0],
      "name": "Build the update"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_BUSINESS_PHONE_ID",
        "recipientPhoneNumber": "+91XXXXXXXXXX",
        "textBody": "={{ '*' + $json.title + ' — ' + $json.project.name + '*\\n\\n' + $json.markdown.replace(/^## /gm, '— ').slice(0, 3800) }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [480, 0],
      "name": "Send on WhatsApp",
      "notes": "Uses the WhatsApp Business Cloud API (free tier at developers.facebook.com — create an app, add the WhatsApp product, copy the phone number ID and access token into the n8n credential). Message capped to WhatsApp's limit."
    }
  ],
  "connections": {
    "Every Friday 4pm": { "main": [[{ "node": "Build the update", "type": "main", "index": 0 }]] },
    "Build the update": { "main": [[{ "node": "Send on WhatsApp", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}
